KAKAO_NATIVE_APP_KEY=
KAKAO_JAVASCRIPT_APP_KEY=

# 네이버 로그인 설정 (네이버 개발자 콘솔에서 발급받은 값으로 변경하세요)
NAVER_CLIENT_ID=YOUR_NAVER_CLIENT_ID
NAVER_CLIENT_SECRET=YOUR_NAVER_CLIENT_SECRET
NAVER_APP_NAME=focused_study_time_tracker
